<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/home_style.css"> 
</head>
<body>
    <h1 style="text-align: center;">Welcome to Home page</h1>
    <iframe src="https://giphy.com/embed/S5h4gvxxc1qlG" width="480" height="304" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-dance-S5h4gvxxc1qlG">via GIPHY</a></p>
</body>


</html>